  <footer>
    <nav class="navbar fixed-bottom navbar-light bg-secondary">
      <h6 class="navbar-text text-white mb-0">
        &copy; Copyright 2025. Recipe Manager. All rights reserverd</h6>
    </nav>
  </footer>

  <script src="/scripts/app.js"></script>
  </body>
</html>
